<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="once.customer.dao.CustomerDAO">


	<sql id="select">
		select memNo, id, name, telephone,
		DATE_FORMAT(date, '%Y-%m-%d') as date
		from customer
	</sql>

	<!-- 고객 관리 -->
	<select id="selectAll" resultType="CustomerVO">
		<include refid="select"></include>
		<!-- select memNo, id, name, telephone, rank, --> <!-- rank가 현재 VO 객체에서 주석 처리됨 -->
		order by memNo ASC
	</select>

	<!-- 고객 관리 /삭제 -->
	<delete id="delete" parameterType="int">
		delete from customer
		where
		memNo = #{memNo}
	</delete>

	<!-- 고객 검색 -->
	<select id="search" parameterType="String" resultType="CustomerVO">
 		<include refid="select"></include>
 		where
 		<choose>
 			<when test="name!=null">
 				name like concat('%',#{name},'%')
 			</when>
 			<when test="id!=null">
 				id like concat('%',#{id},'%')
 			</when>
 		</choose>
 	</select>

	<!-- 페이징 -->
	<select id="selectPage" resultType="CustomerVO" parameterType="java.util.List">
		<include refid="select"></include>
			limit #{list[0]}, #{list[1]}
	</select>	
	
	<!-- 한명 번호로 검색 -->
	<select id="selectOneCustomer" parameterType="int" resultType="CustomerVO">
		<include refid="select"></include> 
			where memNo = #{memNo}
	</select>
	
	<!-- 한명 아이디로 검색 -->
	<select id="selectById" parameterType="String" resultType="CustomerVO">
		<include refid="select"></include> 
			where id = #{id}
	</select>
	
</mapper>