<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="once.notice.dao.NoticeDAO">
  
 	<!-- t_board의 view_cnt, reg_date mapping -->
 	<resultMap type="NoticeVO" id="MapNoticeVO">
 		<result column="viewCnt" property="viewCnt"/>
 		<result column="regDate" property="regDate" />
 	</resultMap>
 	
 	<sql id="selectAll">
 		select noticeNo, title, content, viewcnt, date_format(regdate, '%Y-%m-%d') as regdate, imgSaveName from notice
 	</sql>
 
 	<!-- 전체 게시글 조회  -->
 	<select id="selectAllNotice" resultMap="MapNoticeVO">
 		<include refid="selectAll" />
 		  order by noticeno desc
 	</select>
 	
 	<!-- 게시글 한개 조회 -->
 	<select id="selectOneNotice" resultMap="MapNoticeVO" parameterType="int">
 		<include refid="selectAll" />
 		  where noticeno=#{noticeNo}
 	</select>
 	
 	<!-- 글쓰기 -->
 	<insert id="insertNotice" parameterType="noticeVO">
 		insert into notice ( title, content, imgSaveName, imgOriName, imgSize )
 		values ( #{title}, #{content}, #{imgSaveName}, #{imgOriName}, #{imgSize} );
 	</insert>
 	 	<!-- 	insert into notice(noticeNo,title,content)
 		values (seq_notice_noticeNo.nextval,#{title},#{content}) -->
 	<!-- 수정 -->
 	<update id="updateNotice" parameterType="noticeVO">
 		update notice
 		set title=#{title},content=#{content}, imgSaveName=#{imgSaveName}, imgOriName=#{imgOriName}, imgSize=#{imgSize}
 		where noticeNo=#{noticeNo}
 	</update>
 	
 	<!-- 삭제 -->
 	<delete id="deleteNotice" parameterType="int">
 		delete from notice where noticeNo=#{noticeNo}
 	</delete>
 	
 	<!-- 게시글 페이징 -->
 	<select id="selectPage" resultMap="MapNoticeVO" parameterType="java.util.List">
 		<include refid="selectAll" />
 		limit #{list[0]}, #{list[1]}
 	</select>
 	
 	<!-- 게시글 카운트 -->
 	<update id="addCountNotice" parameterType="int">
 		 update notice set viewCnt = viewCnt + 1 where noticeNo = #{noticeNo}
 	</update>
</mapper>







