<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="once.order.dao.OrderDAO">
	
	<!-- 주문 전체 검색 -->
	<select id="selectAllOrder" resultType="OrderVO" parameterType="String">
		select * from orderlist where floor = #{floor}
	</select>
	
	<!-- 주문 유저 한명만 검색 -->
	<select id="memNoOrderList" resultType="OrderVO" parameterType="int">
		select * from orderlist where memNo = #{memNo}
	</select>
	
	<!-- warehouse에 들어간 주문상태 주문완료로 변경 -->
	<update id="updateStatusFin" parameterType="int">
		update orderList set status = '상품준비완료' where orderNo = #{orderNo}
	</update>

	<!-- 주문 storeNo별 검색 -->
	<select id="storeNoOrderList"  parameterType="String" resultType="OrderVO">
		select * from orderList where storeNo = #{storeNo}
	</select>
	
	<!-- orderDetail orderNo별 검색 -->
	<select id="orderNoDetailList"  parameterType="int" resultType="OrderDetailVO">
		select status, detailNo, no, storeNo, storeName, price, imgSaveName, count  from orders where orderNo = #{orderNo}
	</select>
	
	<!-- 물푼 고객 수령 완료 -->
	<update id="updateStatusDeliveryMemNo" parameterType="int">
		update orderList set status = '수령완료' where memNo = #{memNo} and status = '상품준비완료'
	</update>

	<!-- orderNo별 검색 -->
	<select id="getOrderInfo"  parameterType="int" resultType="OrderVO">
		select * from orderList where orderNo = #{orderNo}
	</select>
	
	<!-- no별 검색 -->
	<select id="getDetailInfo"  parameterType="int" resultType="OrderDetailVO">
		select * from orders where no = #{no}
	</select>
	
	<!-- 주문 store status, floor Option 검색 -->
	<select id="optionOrderList"  parameterType="OrderVO" resultType="OrderVO">
		select * 
		from orderList 
		<where>
		storeNo = #{storeNo} and
			<choose>
	 			<when test="status != null">
	 				status = #{ status }
	 			</when>
	 			<when test="floor != null">
	 				floor = #{ floor }
	 			</when>
	 		</choose>
 		</where>
	</select>
	
	<!-- 주문 orderNo별 오름차순/내림차순 검색 -->
	<select id="sortOrderList"  parameterType="OrderVO" resultType="OrderVO">
		select * 
		from orderList 
		where storeNo = #{storeNo} 
		order by (orderNo) 
 		<if test="sortChoice == 0">
 			desc
 		</if>
 		<if test="sortChoice == 1">
 			asc
 		</if>
	</select>
	
	<!-- 상품승인완료로 변경 -->
	<update id="updateStatusAccpet" parameterType="int">
		update orderList set status = '상품승인완료' where orderNo = #{orderNo}
	</update>
	
	<!-- 상품준비완료로 변경 -->
	<update id="updateStatusDelivery" parameterType="int">
		update orderList set status = '상품전달완료' where orderNo = #{orderNo}
	</update>

</mapper>

